

.kalag-foto
{
    max-width: 1920px;
    margin: 0 auto;
}

.kalag-foto__title
{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #2e363e;
    margin-bottom: 14px;
}

.kalag-foto__text
{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 143%;
    text-align: center;
    color: #2e363e;
    margin-bottom: 80px;
}

.kalag-foto__images
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
}